.App {
  font-family: sans-serif;
  text-align: center;
}

.css-1qtpd4b-InputGroup {
  /* box-shadow: none !important; */
  border-radius: 20px !important;
}
.css-1tj39sd-Input-Input{
  border-radius: 20px !important;
  
}
.css-18kg64w-Input-Input {
  border-radius: 20px !important;
}

.css-1kfwsuu-resultStats{
  padding-left: 10px;
  padding-bottom: 20px;
}


.css-1bd5zqh-Checkbox-vh + label > span > span:first-of-type {
  padding-right: 5px;

}
.css-15g0dol-Base *, .css-15g0dol-Base ::before, .css-15g0dol-Base ::after {
  box-sizing: border-box;
  

}


/* checkbox and radio button color  */
.css-1bd5zqh-Checkbox-vh + label > span {
  line-height: 1.3rem;
  

}

.css-1bd5zqh-Checkbox-vh + label:hover {
  
  color:rgb(62, 169, 230)  !important;

}

.css-1bd5zqh-Checkbox-vh :hover{
  color: rgb(62, 169, 230) !important
}
.css-1bd5zqh-Checkbox + label :hover {
  
  color:rgb(62, 169, 230)  !important;

}

.css-9d37m9-Radio-vh + label:hover {
  color:rgb(62, 169, 230)  !important;
}


/* input[type=checkbox]:active {
  color:rgb(62, 169, 230) !important;
}

.filetypefilterfield::after {
  color:red;
} */

 #imageToggleLabel:hover {
  color:rgb(62, 169, 230) !important;
  cursor: pointer;
} 



/* search icon color */
.css-s7e34l-IconWrapper svg, .css-s7e34l-IconWrapper svg g#el_D93PK3GbmJ {
  fill: rgb(62, 169, 230)  !important;;
}

.css-1w1pnf0-UL {
  list-style: none;

}



.searchdiv{
  padding-left:10px;
  flex:1;
  
}

.ReactGridGallery_tile-bottom-bar {
  margin-bottom: 0px;
  
  padding-bottom: 0px;
}


.custom-overlay__caption {
  background-color: rgba(0, 0, 0, 0.8);
  max-height: 240px;
  overflow: hidden;
  position: absolute;
  margin-top: 0px;
  margin-bottom: 0px;
  width: 100%;
  color: white;
  font-size: 90%;
}

.tabs {
  
  flex:1;
  flex-direction:column;
  margin-bottom: 1rem !important;
}

.tabcomponent {
  margin:5px;
  padding-right: 10px;
  text-decoration: none;
  font-size: larger;
  color:#424242;
}

.active-tab {
  color:rgb(62, 169, 230) !important;
  
}

/* toggle button */

.react-toggle {
  touch-action: pan-x;

  display: inline-block;
  position: relative;
  cursor: pointer;
  background-color: transparent;
  border: 0;
  padding: 0;

  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;

  -webkit-tap-highlight-color: rgba(0,0,0,0);
  -webkit-tap-highlight-color: transparent;
}

.react-toggle-screenreader-only {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

.react-toggle--disabled {
  cursor: not-allowed;
  opacity: 0.5;
  -webkit-transition: opacity 0.25s;
  transition: opacity 0.25s;
}

.react-toggle-track {
  width: 50px;
  height: 24px;
  padding: 0;
  border-radius: 30px;
  background-color: #4D4D4D;
  -webkit-transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  transition: all 0.2s ease;
}

.react-toggle:hover:not(.react-toggle--disabled) .react-toggle-track {
  background-color: #000000;
}

.react-toggle--checked .react-toggle-track {
  background-color:rgb(62, 169, 230) !important;
}

.react-toggle--checked:hover:not(.react-toggle--disabled) .react-toggle-track {
  background-color: #128D15;
}

.react-toggle-track-check {
  position: absolute;
  width: 14px;
  height: 10px;
  top: 0px;
  bottom: 0px;
  margin-top: auto;
  margin-bottom: auto;
  line-height: 0;
  left: 8px;
  opacity: 0;
  -webkit-transition: opacity 0.25s ease;
  -moz-transition: opacity 0.25s ease;
  transition: opacity 0.25s ease;
}

.react-toggle--checked .react-toggle-track-check {
  opacity: 1;
  -webkit-transition: opacity 0.25s ease;
  -moz-transition: opacity 0.25s ease;
  transition: opacity 0.25s ease;
}

.react-toggle-track-x {
  position: absolute;
  width: 10px;
  height: 10px;
  top: 0px;
  bottom: 0px;
  margin-top: auto;
  margin-bottom: auto;
  line-height: 0;
  right: 10px;
  opacity: 1;
  -webkit-transition: opacity 0.25s ease;
  -moz-transition: opacity 0.25s ease;
  transition: opacity 0.25s ease;
}

.react-toggle--checked .react-toggle-track-x {
  opacity: 0;
}

.react-toggle-thumb {
  transition: all 0.5s cubic-bezier(0.23, 1, 0.32, 1) 0ms;
  position: absolute;
  top: 1px;
  left: 1px;
  width: 22px;
  height: 22px;
  border: 1px solid #4D4D4D;
  border-radius: 50%;
  background-color: #FAFAFA;

  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;

  -webkit-transition: all 0.25s ease;
  -moz-transition: all 0.25s ease;
  transition: all 0.25s ease;
}

.react-toggle--checked .react-toggle-thumb {
  left: 27px;
  border-color:rgb(62, 169, 230) !important;
}

.react-toggle--focus .react-toggle-thumb {
  -webkit-box-shadow: 0px 0px 3px 2px #0099E0;
  -moz-box-shadow: 0px 0px 3px 2px #0099E0;
  box-shadow: 0px 0px 2px 3px #0099E0;
}

.react-toggle:active:not(.react-toggle--disabled) .react-toggle-thumb {
  -webkit-box-shadow: 0px 0px 5px 5px #0099E0;
  -moz-box-shadow: 0px 0px 5px 5px #0099E0;
  box-shadow: 0px 0px 5px 5px #0099E0;
}
