.App {
  font-family: sans-serif;
  text-align: center;
}

.css-1qtpd4b-InputGroup {
  /* box-shadow: none !important; */
  border-radius: 20px !important;
}
.css-1tj39sd-Input-Input{
  border-radius: 20px !important;
  
}

.css-1kfwsuu-resultStats{
  padding-left: 10px;
  padding-bottom: 20px;
}

.searchdiv{
  padding-left:"10px";
  
}